<h1>Currency pairs</h1>

<div>
  <% @currencies.each do |currency| %>
    <ul style="margin: 0">
      <li>
        <a href="/<%= currency %>">Convert 1 <%= currency %> to...</a>
      </li>
    </ul>
  <% end %>
</div>
